
{{#with data}}
<div class="bg-white shadow-md rounded-xl shadow-2xl my-5 mx-20 overflow-hidden">
    <div class="p-4">
        <div class="flex justify-center">
        <img src="/{{thumbnails}}" alt="{{title}}" class="object-contain h-64 mb-4">
        </div>
        <h2 class="text-2xl font-semibold">{{title}}</h2>
        <p class="text-gray-800 font-bold">${{price}}</p>
        <p class="text-gray-600">Descripción: {{description}}</p>
        <p class="text-gray-600">Código: {{code}}</p>
        <p class="text-gray-600">Stock: {{stock}}</p>
        <p class="text-gray-600">Categoría: {{category}}</p>
        <p class="text-gray-600" hidden name="pid" id="pid">{{_id}}</p>
        <div class="flex justify-center gap-10 items-end mt-4">
            <div>
                <label for="quantity" class="block text-sm font-medium text-gray-700">Cantidad:</label>
                <input id="quantity" type="number" min="1" value="1"
                    class="mt-1 block w-16 px-3 py-2 border-2 border-gray-300 rounded-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
            </div>
            <button onclick="addToCart()"
                class="px-4 py-2 bg-blue-500 text-white font-semibold rounded-md shadow-md hover:bg-blue-600">Agregar al
                carrito</button>
        </div>
    </div>
</div>
{{/with}}

<script>
function addToCart(){
    const pid=document.getElementById("pid").innerText
   alert(`El producto: ${pid} será agregado al carrito`)
}
</script>